<%= form_tag("/period/" + @period.id.to_s + "/new_person", :id => 'make_person', method: "post", :class => "col-sm-8") do %>
    <%= text_field_tag :description, nil, :class => 'input-lg' %>

    <%= radio_button_tag(:isFemale, true) %>
    <%= label_tag("isFemale_true", "Female") %>
    <%= radio_button_tag(:isFemale, false) %>
    <%= label_tag("isFemale_false", "Male") %>

    <%= submit_tag("Save Person") %>
<% end %>

<div class="col-sm-4">
    Number of People Recorded:  <span style="font-size:35px;"> <%= @count %></span>
</div>


<table id="made_person" class="table">
    <thead>
        <tr>
            <th>Person Description</th>
            <th>Gender</th>
            <th>Start Time</th>
            <th>Exit Time</th>
        </tr>
    </thead>
    <tbody>
        <% @people.each do |person| %>
            <tr>
                <td><%= person.description%></td>
                <td><%= person.isFemale ? "Female" : "Male" %></td>
                <td><%= person.entry_time %></td>
                <td><%= person.exit_time %></td>
            </tr>
        <% end %>
    </tbody>
</table>